* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("https://static.vecteezy.com/system/resources/previews/030/747/648/large_2x/a-mountain-lake-with-a-mountain-in-the-background-and-landscape-wallpaper-free-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
    margin-top: 0.5rem;
}
button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
